.Main-Sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 300px; 
}

.Main-Sidebar a{
    background-color: rgba(3,78,136,0.7);
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    /* margin-right: 4px; */
}